.areaofpractices {
    margin-top: 30vh;
    /* height: 100vh; */
    margin-bottom: 20vh;
}

.areaofpractices h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.areaofpractices .grid .business {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 100%;
    height: 342px;
}
.areaofpractices img {
   
}

.areaofpractices .grid .partnership {
    width: 100%;
    height: 342px;
}

.areaofpractices .imgcontainer {
    /* border: solid; */
}



.areaofpractices .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
    gap: 30px;
}

.areaofpractices .under {
   position: absolute;
   text-align: center;
   left: 30%;
   bottom: 32px;
   background: none;
    margin: auto;
    font-weight: 500;
    font-size: 1rem;
}