.faq {
    height: 629px;
    width: 1140px;
    /* border: solid; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 70px;
}

.faq h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.faq .right h3 {
    margin-top: 70px;
    font-size: 1.3rem;
    margin-bottom: 30px;
}


.faq p{
    color: gray;
}

.faq .accordion {
    margin-top: 20px;
    width: 440px;
    
    
}

#panela-header {
    background: #1D1D1D;
    
    
}
#panel2a-header {
    background: #1D1D1D;
    
}
#panel3a-header {
    background: #1D1D1D;
    
}


.faq i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    text-align: center;
    font-size: .8rem;
    color: black;
    background: var(--css-primary);
    border-radius: 12px;

}