.reviews {
    height: 100vh;
    width: 100vw;
    position: relative;
    
}

.reviews .cardscontainer {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.reviews .cardscontainer  .cards {
    height: 377px;
    width: 359px;
    border: solid 1px gray;
    border-radius: 19px;
    overflow: auto;
    padding: 12px;
    margin-top: 106px;
    

}

.reviews .cardscontainer .cards img {
    height: 101px;
    width: 101px;
    margin-bottom: 12px;
}




.reviews .cardscontainer  .cards p{
    color: rgb(215, 201, 201);
    margin-top: 12px;
    margin-top: 40px;
}


.reviews .cardscontainer  .secondcard {
    background: rgba(128, 128, 128, 0.361);
}

.reviews .cardscontainer  .secondcard  img {
    background: none;
}

.reviews .cardscontainer  .secondcard  p {
    background: none;
}

.reviews .cardscontainer  .secondcard  h5 {
    background: none;
}

.reviews .control-dots {
    top: -25px;
    right: 100px;
    width: 20vw;
    height: 20px;
    text-align: start;
}

.reviews .carousel .control-dots .dot {
    margin-top: 15px;
    height: 50px;
    width: 50px;

    
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
    background: var(--css-primary) !important;
}


.happyclients {
    position: relative;
    left: 500px;
    font-size: 3rem;
}